*{
    margin:0;
    padding:0;
    box-sizing:border box;
}

.container{
    width:500px;
    margin:20px;
    background-color: gray;
    display: flex;
    gap:3rem;
    flex-direction: row;
    
}
.box{
    width:20px;
    height:30px;
    border-radius:5px;
    margin:2px;
    border: 20px solid gray;

}
.red{
    background-color:red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
